<%= render PageHeaderComponent.new(title: "Settings") do %>
  <%= render 'settings/navbar' %>
<% end %>

<% content_for :form_layout do %>
  <header class="mb-4">
    <h1 class="text-xl font-semibold mb-2">Profile</h1>
    <p class="font-light">Change your profile settings</p>
  </header>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <hr />

    <%= render FormSectionComponent.new(title: 'Email Address') do %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </div>
    <% end %>

    <%= render FormSectionComponent.new(title: 'Change Password', subtitle: 'Change your password here. Leave blank if you don\'t want to change it.') do %>
      <div class="form-group">
        <%= f.label :password, class: "label" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: "label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password, class: "label" %> 
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>
    <% end %>

    <div class="flex justify-end">
      <%= f.submit "Save Changes", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<%= render "devise/shared/form_layout" %>
