<div class="p-6">
  <a href="/" class="flex items-center">
    <img src="/icon.svg" alt="RailsRush logo" class="h-10 mr-2">
    <span class="font-bold text-xl">
      RailsRush
    </span>
  </a>
</div>

<div class="relative w-full px-3">
  <%- if current_user.accounts.length > 1 %>
    <button class="flex items-center justify-center gap-4 w-full hover:bg-gray-300 transition rounded py-4" data-dropdown-toggle="account-selector-dropdown">
      <span class="font-bold"><%= current_account.name %></span>
      <div>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </button>

    <div id="account-selector-dropdown" class="z-10 hidden w-full px-4">
      <div class="bg-white rounded-lg shadow py-4 text-sm flex flex-col gap-2">
        <% current_user.accounts.each do |account| %>
          <%= link_to account.name, dashboard_path(account_slug: account.slug), class: 'block px-8 py-4 hover:bg-gray-500 hover:text-white' %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="flex items-center justify-center gap-4 w-full rounded py-4">
      <span class="font-bold"><%= current_account.name %></span>
    </div>
  <% end %>
</div>

<nav class="p-3 nav">
  <hr class="mt-4 mb-4">

  <%= render NavItemComponent.new(icon: "fa-house", title: "Dashboard", path: dashboard_path, active_controllers: %w[dashboard]) %>

  <a href="#" class="nav-link">
    <i class="fa-solid fa-people-group"></i>
    <span>Team<span>
  </a>

  <a href="#" class="nav-link">
    <i class="fa-solid fa-receipt"></i>
    <span>Billing</span>
  </a>

  <%= render NavItemComponent.new(icon: "fa-gear", title: "Settings", path: edit_settings_account_path, controller_matches: /settings\/|devise\/registrations/) %>

  <hr class="mt-4 mb-4">

  <a href="#" class="nav-link">
    <i class="fa-solid fa-rocket"></i>
    <span>Feedback</span>
  </a>

  <a href="#" class="nav-link">
    <i class="fa-solid fa-life-ring"></i>
    <span>Help and Docs</span>
  </a>
</nav>

<div class="absolute bottom-0 w-full px-3">
  <button class="flex items-center justify-center gap-4 py-4 rounded mb-3 w-full hover:bg-gray-300" data-dropdown-toggle="user-settings-dropdown">
    <div class="flex flex-col">
      <span class="text-sm"><%= current_user.email.truncate(25) %></span>
    </div>
    <div>
      <i class="fa-solid fa-chevron-up"></i>
    </div>
  </button>

  <div id="user-settings-dropdown" class="z-10 hidden w-full px-4">
    <div class="bg-white rounded-lg shadow py-4 text-sm flex flex-col gap-2">
      <%= link_to t(".profile_settings"), edit_user_registration_path, class: 'block px-8 py-4 hover:bg-gray-500 hover:text-white' %>
      <%= link_to t(".sign_out"), destroy_user_session_path, data: { turbo_method: 'delete' }, class: 'block px-8 py-4 hover:bg-gray-500 hover:text-white' %>
    </div>
  </div>
</div>
