<%= render PageHeaderComponent.new(title: "Settings") do %>
  <%= render 'settings/navbar' %>
<% end %>

<%= render MainContentComponent.new do %>
  <header class="mb-4">
    <h1 class="text-xl font-semibold mb-2">Account</h1>
    <p class="font-light">Change your account settings</p>
  </header>

  <%= form_with(model: current_account, url: settings_account_path) do |form| %>
    <%= render "shared/error_messages", resource: form.object %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  
    <div class="flex justify-end">
      <%= form.submit t('form.save_changes'), class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
