<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "RailsRush" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <%= yield :head %>
 
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
    <%= vite_javascript_tag 'application' %>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto" />
  </head>

  <body>
    <div class="flex sm:h-screen bg-stone-200">
      <aside class="sm:relative sm:h-screen sm:w-[300px] hidden sm:block shadow-xl bg-slate-800">
        <%= render "shared/navbar" %>
      </aside>
      <div class="w-full sm:max-h-screen sm:relative sm:overflow-hidden">
        <main class="min-h-screen sm:h-screen sm:overflow-x-hidden sm:overflow-y-scroll pb-[40px]">
          <%= yield %>
        </main>
        <footer class="sm:absolute sm:bottom-0 w-full -mt-[35px] h-[35px] bg-slate-600 flex justify-between items-center text-white text-sm">
          <%= render "shared/footer" %>
        </footer>
      </div>
    </div>
  </body>
</html>
