<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "RailsRush" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <%= yield :head %>
 
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans" />
  </head>

  <body class="antialiased bg-white">
    <header class="mx-auto p-6 my-10">
      <a href="/" class="flex items-center justify-center">
        <img src="/icon.svg" alt="RailsRush logo" class="h-10 mr-2">
        <span class="font-bold text-xl">
          RailsRush
        </span>
      </a>
    </header>

    <main class="max-w-xl mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
